.resumotask {
  background: var(--gray-600);
  /* overflow: hidden;
  border-radius: 8px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasklidas {
  color: var(--blue-300);
  font-weight: bold;
}

.taskconcluidas {
  color: var(--purple-300);
  font-weight: bold;
}

.resumotasklimpa {
  background: var(--gray-600);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.badge {
  background: var(--gray-300);
  color: var(--white);
  border-radius: 8px;
  padding: 2px 6px;
}
